
@import "../styles/variable.scss";
  
 
$prefixCls:"#{$global-prefix}-Pagination";

$prefixClsButton:"#{$global-prefix}-Button";

.#{$prefixCls}{

    display: flex;
    align-items: center;

    &-ShowTotal{
        margin-right:6px;
        white-space: nowrap;
    }

    &-ShowQuickJumper{
        margin-left:6px;
        display: inline-flex;
        justify-content: center;
        align-self: center;
        white-space: nowrap;
        line-height: 32px;

    }

    &.#{$prefixCls}-Primary{

       

        .#{$prefixClsButton}{ 
            @include boxShadowLevel(5);

            &.Selected{
                background-color: $primary-color;
                color:#fff;
            }
        }
    }
    
    &.#{$prefixCls}-Danger{

       

        .#{$prefixClsButton}{ 
            @include boxShadowLevel(5);

            &.Selected{
                background-color: $danger-color;
                color:#fff;
            }
        }
    }
    
    .#{$prefixClsButton}{
        line-height: 1;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin:0 4px;
        background-color: #fff;
        transition: all .3s;

        &.Selected{
            background-color: $default-color;
        }
    }

}