@import "../styles/variable.scss";

$prefixCls:"#{$global-prefix}-Notification";
 

.#{$prefixCls}{
    

    &-TopRight{
        right:0px;
        top:0px; 
        position: fixed; 
        z-index: 1010; 
        pointer-events: none; 

        &-Notice{
            margin-right: 8px;
            margin-top:8px;
        }
    }


    &-TopLeft{
        left:0px;
        top:0px; 
        position: fixed; 
        z-index: 1010; 
        pointer-events: none; 

        &-Notice{
            margin-left: 8px;
            margin-top:8px;
        }
    }


    &-BottomLeft{
        left:0px;
        bottom:0px; 
        position: fixed; 
        z-index: 1010; 
        pointer-events: none; 

        &-Notice{
            margin-left: 8px;
            margin-bottom:8px;
        }
    }

    &-BottomRight{
        right:0px;
        bottom:0px; 
        position: fixed; 
        z-index: 1010; 
        pointer-events: none; 

        &-Notice{
            margin-right: 8px;
            margin-bottom:8px;
        }
    }
}

 

 
 


