
@import "../styles/variable.scss";

$prefixCls:"#{$global-prefix}-Modal";  

.#{$prefixCls}{ 
 
    display: flex;
    max-height: calc(100% - 64px);
    flex-direction: column;
    max-width: calc(100vw - 32px);
    margin: 0 auto;
    position: relative;
    top: 100px;

    &-Title{
        font-size:20px;
        padding: 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);

        display: flex;
        align-items: center;
        justify-content: space-between;

        &-Message{
            clear: both;
        }
    }
  
    &-Content{ 
        padding: 16px; 
    }

    &-Close{  
        float: right;
        font-size:20px;
        cursor: pointer;
        -webkit-transition: color .3s;
        transition: color .3s;
    }
} 