
@import "../styles/variable.scss";
@import "./mixin.scss"; 


$prefixCls:"#{$global-prefix}-Button";
$prefixClsLoading:"#{$global-prefix}-Button-Loading";

.#{$prefixCls}{
    @include button();

    &-Loading{
        opacity: 0.8; 
    }

    &-TypeContained{
        @include boxShadowLevel(2);

        &:active{
            @include boxShadowLevel(4);
        }
    }

    &-ColorContainedDefault{
        @include button-color-default();
    }

    &-ColorContainedPrimary{
        @include button-color-primary();
    }

    &-ColorContainedDanger{
        @include button-color-danger();
    }

    &-ColorContainedSecond{
        @include button-color-second();
    }

    &-ColorContainedWarning{
        @include button-color-warning();
    }

    &-ColorContainedSuccess{
        @include button-color-success();
    }

    &-ColorContainedInfo{
        @include button-color-info();
    }
 

    &-ColorTextDefault{
        @include button-color-default-text();
    }

    &-ColorTextPrimary{
        @include button-color-primary-text();
    }

    &-ColorTextDanger{
        @include button-color-danger-text();
    }

    &-ColorTextSecond{
        @include button-color-second-text();
    }

    &-ColorTextWarning{
        @include button-color-warning-text();
    }

    &-ColorTextSuccess{
        @include button-color-success-text();
    }

    &-ColorTextInfo{
        @include button-color-info-text();
    }

    &-OutlineDefault{
        border: 1px solid rgba(0, 0, 0, 0.23);
        padding: 5px 15px;
    }

    &-OutlinePrimary{
        color: $primary-color;
        border: 1px solid $primary-color;
    }

    &-OutlineSecond{
        color: $second-color;
        border: 1px solid $second-color;
    }

    &-OutlineWarning{
        color: $warning-color;
        border: 1px solid $warning-color;
    }

    &-OutlineDanger{
        color: $danger-color;
        border: 1px solid $danger-color;
    }

    &-OutlineSuccess{
        color: $success-color;
        border: 1px solid $success-color;
    }

    &-OutlineInfo{
        color: $info-color;
        border: 1px solid $info-color;
    }

    &-Small{
        &.#{$prefixCls}-Circle{
            min-width: 24px;
            width:24px;
            height: 24px;
            border-radius: 50%;
            padding:0;
            text-align: center;
        }
    }

    &-Default{
        &.#{$prefixCls}-Circle{
            min-width: 32px;
            width:32px;
            height: 32px;
            border-radius: 50%;
            padding:0;
            text-align: center;
        }
    }

    &-Large{
        &.#{$prefixCls}-Circle{
            min-width: 40px;
            width:40px;
            height: 40px;
            border-radius: 50%;
            padding:0;
            text-align: center;
        }
    }
    
}