
@import "../styles/variable.scss";

$prefixCls:"#{$global-prefix}-Icon";

@keyframes loadingCircle {
 
    100% {
        transform:rotate(360deg);
    }
}

.#{$prefixCls}{
    display: inline-block;
    font-style: normal;
    line-height:0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    &-Small{
        font-size: 16px;
    }

    &-Default{
        font-size:24px;
    }

    &-Large{
        font-size:32px;
    }

    &-Spin{
        animation: loadingCircle 1s infinite linear;
    }
}