

@import "../styles/variable.scss";
  
 
$prefixCls:"#{$global-prefix}-PickerContainer";
$prefixClsDatepickerDisplay:"#{$global-prefix}-DatePicker-Display";

.#{$prefixCls}{
    color: $primary-color;
    background-color: #fff;
    width: 310px;
    overflow: hidden;

    &.#{$prefixCls}-Landspace{
        width: 479px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .#{$prefixCls}-Display{
            width: 165px;
            height: auto;
            padding-top: 16px; 
            position: relative;
            justify-content: flex-start;
        }

        .#{$prefixClsDatepickerDisplay}{
            &-Monthday,&-Month{
                height:100%;
            }
            
        }

        .#{$prefixClsDatepickerDisplay}-TypeMonth{
            .#{$prefixClsDatepickerDisplay}{
                &-Year{
                    height:100%;
                } 
            }
        }

        @media (min-width:600px){
            .#{$prefixCls}-Display{
                padding-top:24px;
            }
        }
    }

    &-Display{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        height:100px;
        background-color: currentColor;
        padding-left: 16px;
        padding-right:16px;
    }

    @media (min-width:600px){
        &-Display{
            padding-left: 24px;
            padding-right:24px;
        }
    }

    &-Container{
        padding-bottom:8px!important;
        flex:1;
    }
}