
@import "../styles/variable.scss";
  


$prefixCls:"#{$global-prefix}-Tabs";
$prefixClsTabNavBar:"#{$global-prefix}-TabNavBar";
$prefixClsTab:"#{$global-prefix}-Tab";

.#{$prefixCls}{

    box-sizing: border-box;
    color:$global-second-text-color;
    margin:0;
    padding:0;
    display: flex;
    overflow:hidden;

    &-TabPositionTop,&-TabPositionBottom{
        flex-direction: column;
    }
    
    .#{$prefixClsTabNavBar}{
        position: relative;
        display: flex;
        flex:none;
        align-items: center;

        &-Wrap{
            position: relative;
            display: flex;
            flex:auto;
            overflow: hidden;
            white-space: nowrap;

            &-TabList{
                position: relative;
                display: flex;

                .#{$prefixClsTab}{
                    padding:6px 12px;
                    overflow:hidden;
                    position: relative;
                    max-width: 264px;
                    min-width:160px;
                    min-height: 48px;
                    text-align: center;
                    box-sizing: border-box;
                    font-size:16px;

                    &-ColorPrimary{
                        color:$global-second-text-color;

                        &.Selected{
                            color:$primary-color;
                        }

                        &+.Indicator{
                           background-color: $primary-color;
                        }
                    }
 
                }
                
                .Indicator{
                    bottom: 0;
                    height: 2px;
                    position: absolute;
                    //transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                    transition: width .3s,left .3s,right .3s;
                }
            }

        }

        
    }

    

}