
@import "../styles/variable.scss";
  


$prefixCls:"#{$global-prefix}-Tabs";
$prefixClsTabNavBar:"#{$global-prefix}-TabNavBar";
$prefixClsTabPaneList:"#{$global-prefix}-TabPaneList";
$prefixClsTab:"#{$global-prefix}-Tab";

.#{$prefixCls}{

    box-sizing: border-box;
    color:$global-second-text-color;
    margin:0;
    padding:0;
    display: flex;
    overflow:hidden;

    &-TabPositionTop,&-TabPositionBottom{
        flex-direction: column;
    }
    
    .#{$prefixClsTabNavBar}{
        position: relative;
        display: flex;
        flex:none;
        //align-items: center;

        &-scollButton{
            width: 40px;
            opacity: 0.8; 
            flex-shrink: 0;
        }

        &-centered{
            justify-content: center;
        }

        &-Card{

           

            .#{$prefixClsTabNavBar}{
                &-Wrap{ 
                    &-TabList{ 

                        .#{$prefixClsTab}{

                            border-radius: 2px 2px 0 0;  
                            box-shadow: 0 0 2px rgba(0, 0, 0, 1);
                            margin-right: 5px;
                            border-top: 1px solid rgba(0,0,0,.3);
                            
                            &:first-child{
                                margin-left:5px;
                            }
                            
                        }
                    }
                }
            } 

            .HiddenDiv{
                position:absolute;
                bottom:-2px;
                height:3px;
                background-color: #fff;
                transition: width 0.3s, left 0.3s, right 0.3s;
            }

            
        }

        &-Wrap{
            position: relative;
            display: flex;
            flex:auto;
            overflow: hidden;
            white-space: nowrap;

            &-TabList{
                position: relative;
                display: flex;
                &::-webkit-scrollbar {
                    display: none;
                }
                

                .#{$prefixClsTab}{
                    padding:6px 16px;
                    overflow:hidden;
                    position: relative;
                    max-width: 264px;
                    min-width: 70px;
                    min-height: 48px;
                    text-align: center;
                    box-sizing: border-box;
                    font-size:16px;
 

                    &-ColorPrimary{
                        color:$global-second-text-color;

                        &.Selected{
                            color:$primary-color;
                        }

                        &+.Indicator{
                           background-color: $primary-color;
                        }
                    }

                    &-ColorSecond{
                        color:$global-second-text-color;

                        &.Selected{
                            color:$second-color;
                        }

                        &+.Indicator{
                           background-color: $second-color;
                        }
                    }

                    &-ColorDanger{
                        color:$global-second-text-color;

                        &.Selected{
                            color:$danger-color;
                        }

                        &+.Indicator{
                           background-color: $danger-color;
                        }
                    }
 
                    &-ColorWarning{
                        color:$global-second-text-color;

                        &.Selected{
                            color:$warning-color;
                        }

                        &+.Indicator{
                           background-color: $warning-color;
                        }
                    }

                    &-ColorInfo{
                        color:$global-second-text-color;

                        &.Selected{
                            color:$info-color;
                        }

                        &+.Indicator{
                           background-color: $info-color;
                        }
                    }

                    &-ColorSuccess{
                        color:$global-second-text-color;

                        &.Selected{
                            color:$success-color;
                        }

                        &+.Indicator{
                           background-color: $success-color;
                        }
                    }

                }
                
                .Indicator{
                    bottom: 0;
                    height: 2px;
                    position: absolute;
                    //transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                    transition: width .3s,left .3s,right .3s;
                }
            }

        }

        
    }

    .#{$prefixClsTabPaneList}{
        &-Content{
            flex: auto;
            min-width: 0;
            min-height: 0;    

            &-ListWrap{
                display: flex;
                width:100%;
            }
        }

        &-TabPane{
            flex: none;
            width: 100%;
            outline: none;
        }
    }

    

}