
@import "../styles/variable.scss";
  


$prefixCls:"#{$global-prefix}-Tabs";
$prefixClsTabNavBar:"#{$global-prefix}-TabNavBar";
$prefixClsTab:"#{$global-prefix}-Tab";

.#{$prefixCls}{

    box-sizing: border-box;
    color:$global-second-text-color;
    margin:0;
    padding:0;
    display: flex;
    overflow:hidden;

    &-TabPositionTop,&-TabPositionBottom{
        flex-direction: column;
    }
    
    .#{$prefixClsTabNavBar}{
        position: relative;
        display: flex;
        flex:none;
        align-items: center;

        &-Wrap{
            position: relative;
            display: flex;
            flex:auto;
            overflow: hidden;
            white-space: nowrap;

            &-TabList{
                position: relative;
                display: flex;

                .#{$prefixClsTab}{
                    padding:6px 12px;
                    overflow:hidden;
                    position: relative;
                    max-width: 264px;
                    min-width:160px;
                    min-height: 48px;
                    text-align: center;
                    box-sizing: border-box;
            
                }

            }

        }

        
    }

    

}