
@import "../styles/variable.scss";
  
 
$prefixCls:"#{$global-prefix}-Table";  
$prefixClsCell:"#{$global-prefix}-Table-Cell";  
$prefixClsEmpty:"#{$global-prefix}-Empty";  
$prefixClsIcon:"#{$global-prefix}-Icon";  
$prefixClsPagination:"#{$global-prefix}-Table-Pagination";  

.#{$prefixCls}{ 
    
    table{
        width:100%;    
    }

    &-Thead{
        .#{$prefixCls}-Tr{
            th[colspan]{
                &:not([colspan='1']){
                    text-align: center;
                }
            }
        }
    }


    &-Tr{

        &>th{
            border-bottom: 1px solid rgba(224, 224, 224, 1);
        }

        &:not(:last-child){ 
            &>th[rowspan='1']{
                border-bottom: 0;
            }
        }
        
    }

    &-Body{
        border-bottom: 1px solid #e0e0e0;
    }
    
    &-Cell{
        padding:16px;
        font-weight:500;

        &.#{$prefixClsCell}{
            overflow:hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &-PlaceHolder{
        .#{$prefixClsEmpty}{
            &.#{$prefixClsEmpty}-Normal{
                .#{$prefixClsIcon}{
                    font-size:50px;
                }
            } 
        }
    }

    &-Pagination{
        padding:16px;
        background-color: rgb(255, 255, 255);

        &.#{$prefixClsPagination}-Right{
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
}