
@import "../styles/variable.scss";
  
 
$prefixCls:"#{$global-prefix}-Table";  
$prefixClsEmpty:"#{$global-prefix}-Empty";  
$prefixClsIcon:"#{$global-prefix}-Icon";  

.#{$prefixCls}{ 
    
    table{
        width:100%;    
    }

    &-Tr{
        border-bottom: 1px solid rgba(224, 224, 224, 1);
    }
    
    &-Cell{
        padding:16px;
        font-weight:500;
    }

    &-PlaceHolder{
        .#{$prefixClsEmpty}{
            &.#{$prefixClsEmpty}-Normal{
                .#{$prefixClsIcon}{
                    font-size:50px;
                }
            } 
        }
    }
}