

@import "../styles/variable.scss";
  
 
$prefixCls:"#{$global-prefix}-DatePicker";
$prefixClsToolbar:"#{$global-prefix}-DatePicker-Toolbar";

.#{$prefixCls}{
 
      
    &-Display{
        font-weight: 700;

        &-Year{
            width: 100%;
            font-size: 16px;
            font-weight: 500;
            line-height: 16px;
            height: 16px;
            color:#fff;
            margin-bottom: 10px;
        }

        &-Monthday{ 
            font-size: 36px;
            line-height: 36px;
            height: 38px; 
            width: 100%;
            font-weight: 500;
            color: #fff;
        }
    }

    &-Container{

        display:flex;
        flex-direction: column;
        justify-content: space-between;
        font-size:12px;
        font-weight:400;
        padding:0 8px;
        color:$default-font-color;

        &-Monthday{
            .#{$prefixClsToolbar}{
                display: flex;
                align-items: center;
                justify-content: space-between;
                height:48px;

                &-Title{
                    font-size: 14px;
                    font-weight: 500;
                    text-align: center;
                    width: 100%;
                    flex:1;
                }
            }

            &-Button{
                width: 48px!important;
                height: 48px!important;
                font-size:24px;
                flex: 0 0 auto;
            }

            &-Week{
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                font-weight: 500;
                height: 20px;
                line-height: 15px;
                opacity: .5;
                text-align: center;
                user-select: none;

                &-Day{
                    width: 42px;
                }
            }
        }
    }
}