

@import "../styles/variable.scss";
  
 
$prefixCls:"#{$global-prefix}-DatePicker";
$prefixClsToolbar:"#{$global-prefix}-DatePicker-Toolbar";
$prefixClsDayButton:"#{$global-prefix}-DatePicker-Container-Monthday-Day-Row-Button";
$prefixClsMonthButton:"#{$global-prefix}-DatePicker-Container-Month-Button";
$prefixClsDaySlider:"#{$global-prefix}-DatePicker-Slider-Translation";
$prefixClsDisplay:"#{$global-prefix}-DatePicker-Display"; 
$prefixClsContainer:"#{$global-prefix}-DatePicker-Container";

$time:450ms;

.#{$prefixCls}{
 
      
    &-Display{
        font-weight: 700;
        user-select: none;

        &.#{$prefixClsDisplay}-TypeMonth{
            .#{$prefixClsDisplay}-Year{
                height:30px;
                line-height: 30px;
                text-align: center;
                margin-bottom: 0px;

                &-Text{
                    line-height: 30px;
                    font-size: 30px;

                }
            }
        }

        &.#{$prefixClsDisplay}Month{
            .#{$prefixClsDisplay}-Year{
                opacity: 1;
            }
            .#{$prefixClsDisplay}-Monthday{ 
                opacity: .7;
            }
            
        }

        &-Year{
            width: 100%;
            font-size: 16px;
            font-weight: 500;
            line-height: 16px;
            height: 16px;
            color:#fff;
            margin-bottom: 10px;
            position: relative; 
            overflow: hidden;
            opacity:.7;
            cursor: pointer;

            &-Text{
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                line-height:16px;
            }
        }

        &-Monthday{ 
            font-size: 36px;
            line-height: 36px;
            height: 38px; 
            width: 100%;
            font-weight: 500;
            position: relative; 
            overflow: hidden;
            color: #fff;
            cursor: pointer;

            &-Text{
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                line-height:38px;
            }
        }

        &-Month{ 
            font-size: 36px;
            line-height: 36px;
            height: 38px; 
            width: 100%;
            font-weight: 500;
            position: relative; 
            overflow: hidden;
            color: #fff;

            &-Text{
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                line-height:38px;
            }
        }
    }

    &-Container{

        display:flex;
        flex-direction: column;
        justify-content: space-between;
        font-size:12px;
        font-weight:500;
        padding:0 8px; 

        &.#{$prefixClsContainer}Year{
            padding: 0!important;
        }

        &-Monthday,&-Month{
            .#{$prefixClsToolbar}{
                display: flex;
                align-items: center;
                justify-content: space-between;
                height:48px; 

                &-Title{
                    font-size: 14px;
                    font-weight: 500;
                    text-align: center;
                    width: 100%;
                    flex:1;
                    color:$default-font-color;
                    user-select: none;
                    height:100%;
                    position: relative;
                    overflow: hidden;

                    &-Text{
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        top: 0;
                        left: 0;
                        line-height: 48px;
                        cursor: pointer;
                        &:hover{
                            color:$primary-color;
                        }
                    }
                }
            } 
        }

        &-Monthday{
            &-Button{
                width: 48px!important;
                height: 48px!important;
                font-size:24px;
                flex: 0 0 auto;
            }

            &-Week{
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                font-weight: 500;
                height: 20px;
                line-height: 15px;
                opacity: .5;
                text-align: center;
                user-select: none;

                &-Day{
                    width: 42px;
                    color:$default-font-color;
                }
            }

            &-Day{

                height: 214px;
                position:relative;
                overflow:hidden;

                &-Wrapper{
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    
                }

                &-Row{
                    display:flex;
                    height:34px;
                    margin-bottom:2px;
                    justify-content: space-between;

                    &-Empty{
                        font-weight: 400;
                        padding: 4px 0;
                        position: relative;
                        width: 42px;
                    }

                    &-Button{
                        display: flex;
                        justify-content: center;
                        align-items:center;
                        background: none;
                        outline: none;
                        text-decoration: none;
                        cursor: pointer;
                        margin: 0; 
                        font-size: inherit;
                        font-weight: 500;
                        padding:4px 0;
                        position: relative;
                        border: 10px;
                        width: 42px;
                        color: inherit;

                        &.now{
                            .#{$prefixClsDayButton}-Text{ 
                                color:$primary-color;
                            }
                        }

                        &.selected{
                            .#{$prefixClsDayButton}-Bg{ 
                                opacity: 1;
                                transform: scale(1);
                            }
                            .#{$prefixClsDayButton}-Text{ 
                                color:#fff;
                            }
                        }

                        &:hover{

                            .#{$prefixClsDayButton}-Bg{
                                opacity:.6;
                                transform:scale(1);
                            }

                            .#{$prefixClsDayButton}-Text{
                               color:#fff;
                            }
                        }

                        &-Bg{
                            position: absolute;
                            top: 0;
                            left: 4px;
                            height: 34px;
                            background-color: currentColor;
                            border-radius: 50%;
                            opacity: 0; 
                            transform: scale(0); 
                            transition: all .45s cubic-bezier(.23,1,.32,1);
                            width: 34px;
                        }

                        &-Text{
                            text-align: center;
                            color:$default-font-color;
                            position: relative;
                        }

                        
                    }
                }
            }
 
        }

        &-Month{ 
            &-Content{
                position:relative;
                height: 234px;
                overflow: hidden;
            }
            &-Button-Wrapper{

                position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;

                &-Row{
                    display: flex;
                    justify-content: space-around;
                    margin-bottom: 2px;
                }
            }
            &-Button{ 
                background: none; 
                user-select: none;
                outline: none;
                text-decoration: none;
                cursor: pointer;
                margin: 0;
                font-size: inherit;
                font-weight: 400;
                position: relative;
                border: 10px;
                width: 84px;
                height: 56px;
                padding: 10px 0;
                color: inherit;
                display: flex;
                justify-content: center;
                align-items: center;

                 &.now{
                            .#{$prefixClsMonthButton}-Text{ 
                                color:$primary-color;
                            }
                }

                        &.selected{
                            .#{$prefixClsMonthButton}-Bg{ 
                                opacity: 1;
                                transform: scale(1);
                            }
                            .#{$prefixClsMonthButton}-Text{ 
                                color:#fff;
                            }
                        }

                &:hover{
                    .#{$prefixClsMonthButton}-Bg{
                        opacity:.6;
                        transform:scale(1);
                    }
                    .#{$prefixClsMonthButton}-Text{
                        color:#fff;
                    }
                }

                &-Bg{
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 10px;
                    bottom: 10px;
                    background-color: currentColor;
                    border-radius: 2px;
                    opacity: 0;
                    transition: all .45s cubic-bezier(.23,1,.32,1);
                    transform:scale(.5);
                }

                &-Text{
                    color:$default-font-color;
                    position: relative;
                }
            }
        }

        &-Year{
            position:relative;
            height: 280px;
            overflow: scroll;

            &-List{

                &-Item{
                    display: flex;
                    align-items:center;
                    justify-content: center;
                    height:34px;
                    font-size: 14px;
                    color:$default-font-color;
                    cursor: pointer;
                    user-select: none;

                    &.selected{
                        height:40px;
                        color:currentColor;
                        margin:10px 0;
                        font-size: 26px;
                    }
                }
            }
        }
    }

    &-Slider-Translation{
        &-UpDown{
            

            &.#{$prefixClsDaySlider}{
                &-Next{
                    //后面的进来是先
                    &-appear{
                        transform: translate3d(0,100%,0);
                        opacity: 1;
                    }
                    &-appear-active{
                        transition: transform $time cubic-bezier(0.4, 0, 0.2, 1), opacity $time cubic-bezier(0.4, 0, 0.2, 1);
                        backface-visibility: hidden;
                        transform: translate3d(0,0,0);
                        opacity: 1;
                    }
                    &-exit{
                        opacity:1;
                        transform: translate3d(0,0,0);
                    }
                    &-exit-active {
                        transition: transform $time cubic-bezier(0.4, 0, 0.2, 1), opacity $time cubic-bezier(0.4, 0, 0.2, 1);
                        transform: translate3d(0, 100%, 0);
                        opacity: 1;
                    }
                }
                &-Prev{
                    //后面的进来是先
                    &-appear{
                        transform: translate3d(0,-100%,0);
                        opacity: 1;
                    }
                    &-appear-active{
                        transition: transform $time cubic-bezier(0.4, 0, 0.2, 1), opacity $time cubic-bezier(0.4, 0, 0.2, 1);
                        backface-visibility: hidden;
                        transform: translate3d(0,0,0);
                        opacity: 1;
                    }
                    &-exit{
                        opacity:1;
                    }
                    &-exit-active {
                        transition: transform $time cubic-bezier(0.4, 0, 0.2, 1), opacity $time cubic-bezier(0.4, 0, 0.2, 1);
                        backface-visibility: hidden;
                        transform: translate3d(0, -100%, 0);
                        opacity: 1;
                    }
                }
            }
        }

        &-LeftRight{
            &.#{$prefixClsDaySlider}{
                &-Next{
                    //后面的进来是先
                    &-appear{
                        transform: translate3d(100%,0,0);
                        opacity: 1;
                    }
                    &-appear-active{
                        transition: transform $time cubic-bezier(0.4, 0, 0.2, 1), opacity $time cubic-bezier(0.4, 0, 0.2, 1);
                        backface-visibility: hidden;
                        transform: translate3d(0,0,0);
                        opacity: 1;
                    }
                    &-exit{
                        opacity:1;
                        transform: translate3d(0,0,0);
                    }
                    &-exit-active {
                        transition: transform $time cubic-bezier(0.4, 0, 0.2, 1), opacity $time cubic-bezier(0.4, 0, 0.2, 1);
                        transform: translate3d(100%, 0, 0);
                        opacity: 1;
                    }
                }
                &-Prev{
                    //后面的进来是先
                    &-appear{
                        transform: translate3d(-100%,0,0);
                        opacity: 1;
                    }
                    &-appear-active{
                        transition: transform $time cubic-bezier(0.4, 0, 0.2, 1), opacity $time cubic-bezier(0.4, 0, 0.2, 1);
                        backface-visibility: hidden;
                        transform: translate3d(0,0,0);
                        opacity: 1;
                    }
                    &-exit{
                        opacity:1;
                    }
                    &-exit-active {
                        transition: transform $time cubic-bezier(0.4, 0, 0.2, 1), opacity $time cubic-bezier(0.4, 0, 0.2, 1);
                        backface-visibility: hidden;
                        transform: translate3d(-100%, 0, 0);
                        opacity: 1;
                    }
                }
            }
        }
    }
}