

@import "../styles/variable.scss";
  
 
$prefixCls:"#{$global-prefix}-DatePicker";
$prefixClsToolbar:"#{$global-prefix}-DatePicker-Toolbar";
$prefixClsDayButton:"#{$global-prefix}-DatePicker-Container-Monthday-Day-Row-Button";
$prefixClsDaySlider:"#{$global-prefix}-DatePicker-Slider-Translation";

$time:450ms;

.#{$prefixCls}{
 
      
    &-Display{
        font-weight: 700;

        &-Year{
            width: 100%;
            font-size: 16px;
            font-weight: 500;
            line-height: 16px;
            height: 16px;
            color:#fff;
            margin-bottom: 10px;
        }

        &-Monthday{ 
            font-size: 36px;
            line-height: 36px;
            height: 38px; 
            width: 100%;
            font-weight: 500;
            color: #fff;
        }
    }

    &-Container{

        display:flex;
        flex-direction: column;
        justify-content: space-between;
        font-size:12px;
        font-weight:400;
        padding:0 8px; 

        &-Monthday{
            .#{$prefixClsToolbar}{
                display: flex;
                align-items: center;
                justify-content: space-between;
                height:48px;

                &-Title{
                    font-size: 14px;
                    font-weight: 500;
                    text-align: center;
                    width: 100%;
                    flex:1;
                    color:$default-font-color;
                }
            }

            &-Button{
                width: 48px!important;
                height: 48px!important;
                font-size:24px;
                flex: 0 0 auto;
            }

            &-Week{
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                font-weight: 500;
                height: 20px;
                line-height: 15px;
                opacity: .5;
                text-align: center;
                user-select: none;

                &-Day{
                    width: 42px;
                    color:$default-font-color;
                }
            }

            &-Day{

                height: 214px;

                &-Row{
                    display:flex;
                    height:34px;
                    margin-bottom:2px;
                    justify-content: space-between;

                    &-Empty{
                        font-weight: 400;
                        padding: 4px 0;
                        position: relative;
                        width: 42px;
                    }

                    &-Button{
                        display: flex;
                        justify-content: center;
                        align-items:center;
                        background: none;
                        outline: none;
                        text-decoration: none;
                        cursor: pointer;
                        margin: 0; 
                        font-size: inherit;
                        font-weight: 400;
                        padding:4px 0;
                        position: relative;
                        border: 10px;
                        width: 42px;
                        color: inherit;

                        &:hover{

                            .#{$prefixClsDayButton}-Bg{
                                opacity:.6;
                                transform:scale(1);
                            }

                            .#{$prefixClsDayButton}-Text{
                               color:#fff;
                            }
                        }

                        &-Bg{
                            position: absolute;
                            top: 0;
                            left: 4px;
                            height: 34px;
                            background-color: currentColor;
                            border-radius: 50%;
                            opacity: 0; 
                            transform: scale(0); 
                            transition: all .45s cubic-bezier(.23,1,.32,1);
                            width: 34px;
                        }

                        &-Text{
                            text-align: center;
                            color:$default-font-color;
                            position: relative;
                        }

                        
                    }
                }
            }
        }
    }

    &-Slider-Translation{
        &-UpDown{
            &.#{$prefixClsDaySlider}{
                &-Next{
                    //后面的进来是先
                    &-appear{
                        transform: translate3d(0,100%,0);
                        opacity: 1;
                    }
                    &-appear-active{
                        transition: transform $time cubic-bezier(0.4, 0, 0.2, 1), opacity $time cubic-bezier(0.4, 0, 0.2, 1);
                        backface-visibility: hidden;
                        transform: translate3d(0,0,0);
                        opacity: 1;
                    }
                    &-exit{
                        opacity:1;
                        transform: translate3d(0,0,0);
                    }
                    &-exit-active {
                        transition: transform $time cubic-bezier(0.4, 0, 0.2, 1), opacity $time cubic-bezier(0.4, 0, 0.2, 1);
                        transform: translate3d(0, 100%, 0);
                        opacity: 1;
                    }
                }
                &-Prev{
                    //后面的进来是先
                    &-appear{
                        transform: translate3d(0,-100%,0);
                        opacity: 1;
                    }
                    &-appear-active{
                        transition: transform $time cubic-bezier(0.4, 0, 0.2, 1), opacity $time cubic-bezier(0.4, 0, 0.2, 1);
                        backface-visibility: hidden;
                        transform: translate3d(0,0,0);
                        opacity: 1;
                    }
                    &-exit{
                        opacity:1;
                    }
                    &-exit-active {
                        transition: transform $time cubic-bezier(0.4, 0, 0.2, 1), opacity $time cubic-bezier(0.4, 0, 0.2, 1);
                        backface-visibility: hidden;
                        transform: translate3d(0, -100%, 0);
                        opacity: 1;
                    }
                }
            }
        }

        &-LeftRighy{
            &.#{$prefixClsDaySlider}{
                &-Next{
                    //后面的进来是先
                    &-appear{
                        transform: translate3d(100%,0,0);
                        opacity: 1;
                    }
                    &-appear-active{
                        transition: transform $time cubic-bezier(0.4, 0, 0.2, 1), opacity $time cubic-bezier(0.4, 0, 0.2, 1);
                        backface-visibility: hidden;
                        transform: translate3d(0,0,0);
                        opacity: 1;
                    }
                    &-exit{
                        opacity:1;
                        transform: translate3d(0,0,0);
                    }
                    &-exit-active {
                        transition: transform $time cubic-bezier(0.4, 0, 0.2, 1), opacity $time cubic-bezier(0.4, 0, 0.2, 1);
                        transform: translate3d(100%, 0, 0);
                        opacity: 1;
                    }
                }
                &-Prev{
                    //后面的进来是先
                    &-appear{
                        transform: translate3d(-100%,0,0);
                        opacity: 1;
                    }
                    &-appear-active{
                        transition: transform $time cubic-bezier(0.4, 0, 0.2, 1), opacity $time cubic-bezier(0.4, 0, 0.2, 1);
                        backface-visibility: hidden;
                        transform: translate3d(0,0,0);
                        opacity: 1;
                    }
                    &-exit{
                        opacity:1;
                    }
                    &-exit-active {
                        transition: transform $time cubic-bezier(0.4, 0, 0.2, 1), opacity $time cubic-bezier(0.4, 0, 0.2, 1);
                        backface-visibility: hidden;
                        transform: translate3d(-100%, 0, 0);
                        opacity: 1;
                    }
                }
            }
        }
    }
}