
@import "../styles/variable.scss";

$prefixClsRow:"#{$global-prefix}-Row";
$prefixClsCol:"#{$global-prefix}-Col";

.#{$prefixClsRow}{
    display: flex;
    flex-flow: row wrap;

    &-Top{
        align-items: flex-start;
    }

    &-Bottom{
        align-items: flex-end;
    }

    &-Middle{
        align-items: center;
    }

    &-Start{
        justify-items: flex-start;
    }

    &-End{
        justify-items: flex-end;
    }

    &-Space-around{
        justify-items:space-around;
    }

    &-Space-between{
        justify-items:space-between;
    }

    &-Center{
        justify-items:center;
    }

}