
@import "../styles/variable.scss";

$prefixCls:"#{$global-prefix}-InputText";
$prefixClsInputWrapper:"#{$prefixCls}-InputWrapper";
$prefixClsInput:"#{$prefixCls}-Input";

.#{$prefixCls}{
    position: relative;
    display:flex;

    .#{$prefixClsInputWrapper}{

        position: relative;
        flex:1;
        display: flex; 
        border:none;

        &:before{
            content:"";
            display:block;
            position: absolute;
            left:0;
            right:0;
            bottom:0;
            border-bottom:1px solid rgba(0,0,0,.45);
            pointer-events:none;
            transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            box-sizing: border-box;
        }

        &:hover{
            &::before{
                border-bottom:2px solid rgba(0,0,0,.86);
            }        
        }
       

        &:after{
            content:"";
            display:block;
            position: absolute;
            left:0;
            right:0;
            bottom:0;
            transform:scaleX(0);
            border-bottom:2px solid $primary-color;
            pointer-events: none;
            transition:transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            box-sizing: border-box;
        }

        .#{$prefixClsInput}{
            font:inherit;
            color:currentColor;
            outline: none;
            border:none; 
            background: none;
            flex:1;
            box-sizing: border-box;
            width: 100%;
        }

        &-Prefix,&-Suffix{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
            min-width: 16px;
        } 

        &-FixRightBlock{
            position:absolute;
            right:0;
            padding:0 4px;
            display: inline-flex;
            justify-content: center;
            align-items:center;
            transform:rotate(0deg);
            transition: transform .1s;
        } 

    }

    &-Focus{
        .#{$prefixClsInputWrapper}{

            &:after{
                transform:scaleX(1);
            } 

            &-FixRightBlock{
                transform: rotate(180deg);
               
            }
        }
    }
 
    &-Small{

        .#{$prefixClsInput}{
            padding:2px 2px;
            height:20px;
        }

        .#{$prefixClsInputWrapper}{

            &-FixRightBlock{
                font-size: 24px;
                min-width: 16px;
            } 
        }
        
    }

    &-Default{

       

        .#{$prefixClsInput}{
            padding:4px 4px;
            height:32px;
           
        }

        .#{$prefixClsInputWrapper}{

            &-FixRightBlock{
                height: 32px;
                font-size: 24px;
                min-width: 16px;
            } 
        }
    }

    &-Large{

        .#{$prefixClsInput}{
            padding:4px 4px;
            height:40px;
        }
        .#{$prefixClsInputWrapper}{

            &-FixRightBlock{
                height: 40px;
                font-size: 24px;
                min-width: 16px;
            } 
        }
    }
     
    &-AutoWidth{
        
    }
}