
@import "../styles/variable.scss";
  
 
$prefixCls:"#{$global-prefix}-Alert";

.a{
    position: relative;
    &:after{
        content:"";
        position:absolute;
        background-color:red;
        top: -10px;
        bottom: -10px;
        left: -10px;
        right: -10px; 
    } 
}

.#{$prefixCls}{
    
    display: flex;
    padding: 6px 16px;
    &.#{$prefixCls}-Center{
        align-items: center;
    }

    &.#{$prefixCls}-NoOutline{
        
        .#{$prefixCls}-Message{
            color:#fff;
        } 

        .#{$prefixCls}-Icon{ 
            color:#fff;
        }
    }

    &-Content{
        flex:1;

        &-Message{
            padding:4px 0;
            font-size:16px;
            color:#fff;
        }
        &-Description{
            padding:4px 0;
            font-size:14px;
            color:#fff;
        }
    }
    
    
    &-Icon{
        display: flex; 
        padding: 7px 0;
        font-size: 22px;
        margin-right: 12px;
        flex:0 0 auto;
    }

    &-Close{
        color:#fff;
        font-size:18px;
        cursor: pointer;
        flex:0 0 auto;
        
        line-height: 0;
    }

    &-Action{ 
        flex:0 0 auto;
        margin-right:10px;
        margin-left:10px;
    }

    &.#{$prefixCls}-Primary{
        background-color:$primary-color;

    }

    &.#{$prefixCls}-Second{
        background-color:$second-color; 
    }

    &.#{$prefixCls}-Danger{
        background-color:$danger-color; 
    }

    &.#{$prefixCls}-Error{
        background-color:$danger-color; 
    }

    &.#{$prefixCls}-Warning{
        background-color:$warning-color; 
    }

    &.#{$prefixCls}-Info{
        background-color:$info-color; 
    }

    
    &.#{$prefixCls}-Success{
        background-color:$success-color; 
    }
}