
@import "../styles/variable.scss";


$prefixCls:"#{$global-prefix}-Dialog";
$prefixClsModal:"#{$global-prefix}-Modal";
 

.#{$prefixCls}{
    
    &-Body{
        padding:0;

        &.#{$prefixCls}-Body-Warning{ 
            .#{$prefixCls}-Body-Title-Icon{
                    color:$warning-color;  
            } 
        }

        &.#{$prefixCls}-Body-Info{ 
            .#{$prefixCls}-Body-Title-Icon{
                    color:$info-color;  
            } 
        }

        &.#{$prefixCls}-Body-Success{ 
            .#{$prefixCls}-Body-Title-Icon{
                    color:$success-color;  
            } 
        }

        &.#{$prefixCls}-Body-Error{ 
            .#{$prefixCls}-Body-Title-Icon{
                    color:$danger-color;  
            } 
        }

        &-Title{
            padding: 16px 24px;
            display: flex;
            align-items: center;

            &-Icon{
                color:$info-color;
                font-size: 24px;
                margin-right: 10px;
                line-height: 0;
            }

            &-Title{
                font-size: 20px;
                font-weight: 600;
            }
        }

        &-Content{
            padding: 8px 24px;
            color: rgba(0, 0, 0, 0.54);
            margin-bottom: 12px;
        }

        &-Footer{
            font-size: 20px;
            padding:8px 16px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }

   
}