//全局前缀
$global-prefix:"parrot-pc";

//全局backdrop zindex
$global-backdrop-zindex:1000;

//全局文字颜色
$global-text-color:rgba(0,0,0,.87);

//全局次要颜色
$global-second-text-color:rgba(0,0,0,.54);

html{
    box-sizing: border-box; 
}


 