//定义主题色等
$primary-color:rgba(0,189,170,1);
$primary-color-opacity5:rgba(0,189,170,.5);
$primary-color-opacity4:rgba(0,189,170,.4);
$primary-color-opacity3:rgba(0,189,170,.3);
$primary-color-opacity2:rgba(0,189,170,.2);
$primary-color-opacity1:rgba(0,189,170,.1);
$primary-color-hover:rgba(0, 172, 154,1);

@mixin OpacityPrimaryColor($opacity) {
    background-color:rgba(0,189,170,$opacity);
}

$warning-color:rgba(248,180,0,1);
$warning-color-hover:rgba(209, 154, 2,1);
 
$danger-color:rgba(247, 31, 85,1);
$danger-color-hover:rgb(218, 32, 78);

$second-color:rgba(64,0,130,1);
$second-color-hover:rgb(54, 0, 109);
 
$disabled-color:rgba(0,0,0,.14);

$info-color:rgba(7,121,228,1);
$info-color-hover:rgb(3, 97, 185);

$success-color:rgba(107,198,0,1);
$success-color-hover:rgb(71, 131, 3);

$default-color:rgba(224,224,224,1);
$default-color-hover:rgb(201, 196, 196);
 
