
@import "../styles/variable.scss";

$prefixCls:"#{$global-prefix}-Transition";

.#{$prefixCls}{
    
    &-Collapse{
        
        &-Container{
            height: 0;
            overflow: hidden;
            transition-property: height;
        }

        &-Entered{
            height: auto;
            overflow: visible;
        }
       
        &-Hidden{
            visibility: hidden;
        }

        &-Wrapper{
            display: flex;

            &Inner{
                width:100%;
            }
        }


    
    }
    
}