
@import "../styles/variable.scss";

$prefixCls:"#{$global-prefix}-Slider";  
 

.#{$prefixCls}{ 

   
    width:100%;
    cursor: pointer;
    height:2px;
    display:inline-block;
    padding:13px 0;
    position: relative;

    &.#{$prefixCls}-Primary{
        color:$primary-color;
    }

    &.#{$prefixCls}-Vertical{
        width: 2px;
        height: 100%;
        padding: 0 13px;

        .#{$prefixCls}-Rail{
            width:2px;
            height:100%;
            display: block;
            opacity:.38;
            position: absolute;
            border-radius:1px;
            background-color: currentColor;
        }

        .#{$prefixCls}-Track{
            width:2px;
        }

        .#{$prefixCls}-Thumb{
            margin-left: -5px;
            margin-bottom: -6px;

            .#{$prefixCls}-ValueLabel{
                right:-46px;
                top:auto;
                left:auto;

                &-Circle{ 
                    transform: rotate(45deg); 
                }
                &-Label{
                    transform:rotate(-45deg); 
                }
            }
        }
    }

   

    &-Rail{
        width:100%;
        height:2px;
        display: block;
        opacity:.38;
        position: absolute;
        border-radius:1px;
        background-color: currentColor;
    }

    &-Track{
        height:2px;
        display: block;
        position:absolute;
        border-radius: 1px;
        background-color:currentColor;
    }

    &-Thumb{
        width:12px;
        height:12px; 
        outline:0;
        position:absolute;
        margin-top:-5px;
        transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
        margin-left:-6px;
        border-radius: 50%; 
        background-color: currentColor;

        &:hover,&.#{$prefixCls}-Thumb-FocusVisible{
            box-shadow:0px 0px 0px 8px $primary-color-opacity2;
        }  

        &.#{$prefixCls}-Thumb-Active{
            box-shadow:0px 0px 0px 14px $primary-color-opacity2;
        }

        .#{$prefixCls}-ValueLabel{
            top: -34px;
            z-index: 1;
            position: absolute;   
            left: calc(-50% - 4px);

            &-Circle{
                width: 32px;
                height: 32px;
                display: flex;
                transform: rotate(-45deg);
                align-items: center;
                border-radius: 50% 50% 50% 0;
                justify-content: center;
                background-color: currentColor;
            }

            &-Label{
                transform:rotate(45deg);
                color: #fff;
            }
        }
    }
} 