
@import "../styles/variable.scss";

$prefixCls:"#{$global-prefix}-Tooltip";  

$arrow-color:rgba(48, 48, 48, 0.9);

.#{$prefixCls}{ 
 
    color: #fff;
    padding: 4px 8px; 
    max-width: 300px;   
    border-radius: 4px;
    background-color: $arrow-color;
    line-height:1;
    position: relative;
  
    &.#{$prefixCls}-Placement-Bottom{
        margin:24px 0;

        .#{$prefixCls}-Arrow{
            top: 0;
            margin-top: -18px;
            border-top: 10px solid transparent;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom:  8px solid currentColor;
        }
    }

    &.#{$prefixCls}-Placement-Top{
        margin:24px 0;

        .#{$prefixCls}-Arrow{
            bottom: 0;
            margin-bottom: -18px;
            border-top: 8px solid currentColor;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 10px solid transparent;
        }

    }

    &.#{$prefixCls}-Placement-Left{
        margin:0 24px;

        .#{$prefixCls}-Arrow{
            right: 0;
            margin-right: -18px;
            border-top: 6px solid transparent;
            border-left: 8px solid currentColor;
            border-right: 10px solid transparent;
            border-bottom:  6px solid transparent;
        }
    }

    &.#{$prefixCls}-Placement-Right{
        margin:0 24px;

        .#{$prefixCls}-Arrow{
            left: 0;
            margin-left: -18px;
            border-right: 8px solid currentColor;
            border-left: 10px solid transparent;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
        }
    }

    @media (min-width: 600px){
        &.#{$prefixCls}-Placement-Bottom{
            margin:16px 0;
        }
        &.#{$prefixCls}-Placement-Top{
            margin:16px 0;
        }
        &.#{$prefixCls}-Placement-Right{
            margin:0 16px;
        }
    
        &.#{$prefixCls}-Placement-Left{
            margin:0 16px;
        }
    }

    &-Arrow{
         

    }

} 