
@import "../styles/variable";


$prefixCls:"#{$global-prefix}-ButtonBase";

$ripple-animation-duration:500ms;

.#{$prefixCls}{
    cursor: pointer;
    border:0;
    display: inline-flex;
    outline: 0;
    padding:0;
    margin:0;
    position:relative;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    justify-content: center;
    background-color: transparent;

    &-TouchRipple{
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index:0;
        overflow: hidden;
        position:absolute;
        border-radius: inherit;
        pointer-events: none;

        &-Ripple{
            opacity: 0;
            position: absolute;

            &-Visible{
                opacity: 0.3;
                transform: scale(1);
                animation: ripple-enter $ripple-animation-duration cubic-bezier(0.4, 0, 0.2, 1);;
            }

            &-Child{
                opacity: 1;
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: currentColor;
            }

            &-ChildLeaving{
                opacity: 0;
                animation: ripple-exit $ripple-animation-duration cubic-bezier(0.4, 0, 0.2, 1);
            }

            &-ChildPulsate{
                opacity: 1;
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: currentColor;
            }

            @keyframes ripple-enter {
                0% {
                    transform: scale(0);
                    opacity: 0.1;
                }
                100% {
                    transform: scale(1);
                    opacity: 0.3;
                }
            }

            @keyframes ripple-exit {
                0% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                }
            }
        }

    }

}